body {
    padding: 0px;
    margin: 0;
    font-family: 'Titillium Web' , sans-serif;
    color: 000;
    font-size: 16px;
}

h2,h3,h4.h5,h6 {
    padding: 0px;
}

ul,li {
    display: block;
   
}
.container {
    width: 1440px;
    margin: 0 auto;
    }

.sdvigimg1{
    margin-left: 230px; 
    margin-top: 57px;  
    margin-right: 480px;
    width: 10;
    height: 10;

}

#one{
    margin-left: 15px;
}

.header{
    width: auto;
    height: 600px;
    background-color: #87509c;
}

.nav {
    margin-left: 211px;
    margin-top: 57px; 
}

header a {
    color: #ffffff;
}

.img2{
    position: absolute;
    margin-top: 73px;
}

.a{
    position: relative;
    text-transform: uppercase;
    text-decoration: none; 
    font-size: 16px;
    margin-right: 40px;
    color: #ffffff;
}

.text1{
    font-size: 42px;
    line-height: 49px;
    color: #f7f3ea;
    font-weight: 700;
    font-family: "Titillium Web" Bold;
    text-align: center;
    margin-left: 245px; 
    margin-right: 150px;  
    margin-top: 130px;
    position:absolute; 
    
}

.text2{
    position: absolute;
    margin-top: 340px;
    text-transform: uppercase;
    text-decoration: none; 
    font-size: 18px;
    margin-right: 40px;
    color: #ffffff;
    margin-left: 663px;
}

.container_button{
    position: relative;
}

.img3{
    position: absolute;
    margin-top: 320px;
    margin-left: 585px;
}

.img4{
    position: absolute;
    margin-top: 386px;
    margin-left: 585px;
    
}

/* 2 уровень */


.about{
    padding: 10px;
    width: auto; 
    height: 914px; 
    background-color: #e7f1f8; 
  

}

.zagolovok{
    margin-left: 415px; 
    position:absolute; 
    font-size: 41px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #3c4761;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
}

.img5{
    width: 97px;
    height: 4px;
    margin-left: 665px; 
    margin-top: 100px ;
}

.text3{
    position:absolute; 
    margin-left: 368px; 
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #3c4761;
    font-weight: 400;
    font-family: "Titillium Web " Bold;
    
}

.photo_sdvig{
    position:absolute; 
    margin-top: 100px;
    margin-left: 165px;
}

#sd1{
    margin-left: 90px;
}

#sd2{
    margin-left: 90px;
}

#sd3{
    margin-left: 90px;
}

.text4{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #27283d;
    font-weight: 700;
    font-family: "Titillium Web";
    margin-top: 31px;
    margin-left: 7px;
    text-transform: uppercase;
    display: flex;
}

.text4 p {
    margin-right: 135px
}

#ol{
    margin-left: 20px
}

#as{
    margin-left: 4px
}

.text5{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #30bae7;
    font-weight: 400;
    font-family: "Titillium Web";
    display: flex;
    margin-top: -10px;
    margin-left: 20px;
}

#ce{
    color: #30bae7;
    text-decoration: none; 
}


#cr{
    color: #30bae7;
    margin-left: 167px;
    text-decoration: none; 
}

#le{
    color: #30bae7;
    margin-left: 188px;
    text-decoration: none; 
}

#se{
    color: #30bae7;
    margin-left: 190px;
    text-decoration: none; 
}

.text6{
    /* width: 1000px; */
    /* height: 200px; */
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #3c4761;
    font-weight: 300;
    font-family: "Titillium Web";
    text-align: center;
    display: flex;
    margin-left: -42px;
    
  
}

#tx1{
    width: 204px;
}

#tx2{
    margin-left: 90px;
    width: 204px;
}

#tx3{
    margin-left: 95px;
    width: 204px;
}

#tx4{
    margin-left: 85px;
    width: 204px;
}

.messendger{
    width: 1100px;
    height: 10px;
    display: flex; 
}

#mes1{
    margin-left: -10px;
    margin-right: 15px;
}

#mes2{
    margin-left: 155px;
    margin-right: 15px;
}


#mes3{
    margin-left: 165px;
    margin-right: 15px;
}

#mes4{
    margin-left: 150px;
    margin-right: 15px;
}

.urlyki{
    width: 1100px;
    height: 10px;
    display: flex;
}

#url1{
    margin-top: -21px;
    margin-left: 2px;
}

#t1{
    margin-left: 20px;
}

#l1{
    margin-left: 15px;
}

#m1{
    margin-left: 16px;
}

#url2{
    margin-left: 164px;
    margin-top: -21px;
}

#t2{
    margin-left: 21px; 
}

#l2{
    margin-left: 15px;
}

#m2{
    margin-left: 17px;
}

#url3{
    margin-left: 198px;
    margin-top: -21px;
}

#t3{
    margin-left: 21px; 
}

#l3{
    margin-left: 15px;
}

#m3{
    margin-left: 17px;
}

#url4{
    margin-left: 160px;
    margin-top: -21px;
}

#t4{
    margin-left: 21px; 
}

#l4{
    margin-left: 15px;
}

#m4{
    margin-left: 16px;
}


/* 3 уровень */


.footer{
    padding: 10px;
    width: auto; 
    height: 914px; 
    background-color: #3c5499;

}

.zagolovok2{
    margin-left: 580px; 
    position:absolute; 
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
}

.line2{
    width: 97px;
    height: 4px;
    margin-left: 683px; 
    margin-top: 100px ;
}
.podzagolovok{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Titillium Web";
    text-align: center;
    position: absolute;
    margin-left: 352px;
}


.input1{
    display: flex;
    position: relative;
}

.inpu1{
    width: 414px;
    height: 56px;
    font-size: 18px;
    line-height: 18px;
    background-color: #273a71;
    outline: 2px solid #273a71; /* Чёрная рамка */
    border: 3px solid #273a71; /* Белая рамка */
    border-radius: 4px; /* Радиус скругления */
    margin-top: 85px;
    margin-left: 250px;
    color: #ffffff;
}

#inp2{
    width: 414px;
    height: 56px;
    font-size: 18px;
    line-height: 18px;
    background-color: #273a71;
    outline: 2px solid #273a71; /* Чёрная рамка */
    border: 3px solid #273a71; /* Белая рамка */
    border-radius: 4px; /* Радиус скругления */
    margin-top: 85px;
    margin-left: 30px;
}

#inp2{
    font-size: 20px;
    line-height: 18px;
    color: #ffffff;
}

.otsuv{
    width: 870px;
    height: 200px;
    border-radius: 4px;
    background-color: #273a71;;
    outline: 2px solid #273a71; /* Чёрная рамка */
    border: 3px solid #273a71; /* Белая рамка */
    font-size: 20px;
    line-height: 18px;
    color: #ffffff;
}

.ots1{
    margin-top: 26px;
    margin-left: 250px;
    position: absolute;
}

.required:after {
    position: absolute;
    content:" *";
    color: red;
  }

.required{
    font-size: 20px;
    line-height: 18px;
    color: #ffffff;
    position: absolute;
    margin-left:-400px;
    margin-top:105px;
}

.input{
    position: absolute;
}

.required2{
    font-size: 20px;
    line-height: 18px;
    color: #ffffff;
    position: absolute;
    margin-left:-400px;
    margin-top:105px;
}

.required2:after {
    position: absolute;
    content:" *";
    color: red;
  }

.required3{
    font-size: 20px;
    line-height: 18px;
    color: #ffffff;
    position: absolute;
     /* margin-left:-200px;  */
    /* margin-top:20px; */
}

.textarea{
    position: absolute;
}
.required3:after {
    position: absolute;
    content:" *";
    color: red;
  }

  input:focus + label {
    display: none;
  }

  textarea:focus + label{
    display: none;
  }
  #ots2{
      left: 60px;
      top: 20px;
    
    }
  .container_button{
    position: relative;
}


  .panel{
    width: 19800px;
    height: 112px;
    background-color: #344b8e;
    top:520px;
    right: 3200px;
    position: relative;
  }

  .nizpanel{
    display: flex;
    position: absolute;
    margin-left:3410px;
    top: 20px;
    /* margin-top: 20px; */
  }

  .textpanel{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Titillium Web";
    text-decoration: none; 
    margin-right: 60px;
  }

#txtp2{
    color: #30bae7;
}
